body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table tbody td{
    width: 250px;
    height: 20px;
    padding: 10px;
    font-size: 19px;
}
table, th, td {
    border:1px solid black;
}

a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
a:hover, a:active {
    background-color: green;
    color: white;
}